/*
Lección 3: Tarea de posicionamiento con CSS. Todo el trabajo debe hacerse en este archivo, por lo que si estás tocando cualquier otro
archivo en cualquiera de estas carpetas, estás en el lugar equivocado.
*/

/* Ejercicio 1: Centrar el texto en un span */

/* Arrancaremos este ejercicio por vos: */
#ejercicioUno {
    display: block;
    text-align: center;
 
 }


/* Ejercicio 2: Posicionar el header */

/* Acá va tu código */ 
#ejercicioDos{
  display: none;
    
 
   
    

    
}




/* Ejercicio 3: */

/* Acá va tu código */
#ejercicioTres{
  display: flex;
  position: absolute;
  top: 100px;
  left: 200px;

}


/* Ejercicio 4: */

/* Acá va tu código */
#ejercicioCuatro{
    display: flexbox;
    position: fixed;
    top: 0;
    left: 0;
}



/* Ejercicio 5: */

/* Acá va tu código */
/*En el header hay tres elementos; "Lecciones de posicionamiento", el logo de Henry y "#SoyHenry". Usando el id "ejercicioCinco", configuraremos este container como "flex box", y nos aseguraremos que cada elemento está distanciado de manera proporcional entre unos y otros. También queremos que cada elemento aparezca centrado verticalmente en la línea.*/
#ejercicioCinco {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
/* Ejercicio 6. */
#ejercicioCinco {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  }
  /*ejercicio 7.*/
  #ejercicioSiete {
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #elementoUno {
    justify-content:unsafe  ;
  }
    #elementoDos {
        align-items: baseline;
    }
    #elementoTres {
       align-self: stretch;
    }
    #elementoCuatro {
            flex-direction: column-reverse;
    }
  
  

